/*colors*/
html {
  font-size: 14px;
}
body {
  font-size: 66.5%;
}
ol,
ul {
  list-style: none;
}
a,
a:active,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #333;
}
a.navbar-brand {
  padding: 5px;
}
a.navbar-brand img {
  max-width: 50px;
}
i.glyphicon {
  padding-right: 10px;
}
/*-----------------CATEGORIES----------------------*/
.categories,
.products {
  padding: 0;
}
.categories li,
.products li {
  list-style: none;
}
.categories li .card,
.products li .card {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}
.categories li .card .card-title,
.products li .card .card-title {
  font-size: 1.6rem;
}
.categories li .card img,
.products li .card img {
  padding-bottom: 10px;
  margin: 0 auto;
}
.categories li .card p,
.products li .card p {
  font-size: 1.2rem;
}
.categories li .card a.btn,
.products li .card a.btn {
  color: #ffffff;
}
.categories li .card .price,
.products li .card .price {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
}
.categories li .card:hover,
.products li .card:hover {
  border: 1px solid #337ab7;
  opacity: 0.6;
}
/*---------------------PRODUCT---------------------------------*/
.product .product-details {
  padding-bottom: 30px;
}
.product .product-details .media {
  padding-bottom: 30px;
  border-radius: 5px;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
}
.product .product-details .short_desc {
  font-size: 1.6rem;
}
.product .product-details .long_desc {
  font-size: 1rem;
}
.product .product-details .pricerow {
  font-size: 1.6rem;
}
.product .product-details label {
  font-size: 1.2rem;
  vertical-align: middle;
  padding-right: 10px;
  margin: 0;
}
.product .product-details #quantity {
  width: 65px;
  margin-right: 10px;
}
.product .product-comments .add-comment {
  margin-bottom: 20px;
}
.product .product-comments .post-comment {
  display: none;
  margin-bottom: 20px;
}
.product .product-comments .post-comment .btn {
  margin-top: 10px;
  margin-right: 10px;
}
.product .product-comments .post-comment .result {
  display: none;
}
.product .product-comments .alert-danger li {
  font-size: 1rem;
  margin: 10px;
}
.product .product-comments ul {
  padding: 0;
}
.product .product-comments ul li {
  margin-bottom: 10px;
}
.product .product-comments ul li .author {
  font-style: italic;
}
.product .product-comments ul li .author a {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: bold;
  color: #337ab7;
}
.product .product-comments ul li .panel-body {
  font-size: 1rem;
}
.itemrow {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background: #f8f8f8;
  margin: 10px auto;
}
.itemrow .media-object {
  max-width: 60px;
  margin: 0 auto;
}
.itemrow .item-description {
  vertical-align: middle;
}
.itemrow .item-description p {
  display: inline;
  margin-bottom: 0;
  font-size: 1.1rem;
}
.itemrow .item-description p .btn-danger {
  color: #FFFFFF;
  max-width: 20px;
  max-height: 20px;
  padding: 0;
  padding-left: 2px;
  padding-top: 1px;
}

/*# sourceMappingURL=app.css.map */
