/*colors*/
@panelbg: #f8f8f8;
@panelborder: #e7e7e7;
@primaryblue: #337ab7;

html {
  font-size: 14px;
}

body {
  font-size: 66.5%;
}

ol, ul {
  list-style: none;
}

a, a:active, a:link, a:visited, a:hover {
  text-decoration: none;
  color: #333;
}

a.navbar-brand {
  padding: 5px;

  img {
    max-width: 50px;
  }
}
i.glyphicon {
  padding-right: 10px;
}

/*-----------------CATEGORIES----------------------*/
.categories, .products {
  padding: 0;

  li {
    list-style: none;

    .card {
      border: 1px solid @panelborder;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      transition: all 0.5s ease;

      .card-title {
        font-size: 1.6rem;
      }

      img {
        padding-bottom: 10px;
        margin: 0 auto;
      }

      p {
        font-size: 1.2rem;
      }

      a.btn {
        color: #ffffff;
      }

      .price {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: left;
      }
    }

    .card:hover {
      border: 1px solid @primaryblue;
      opacity: 0.6;
    }
  }
}

/*---------------------PRODUCT---------------------------------*/
.product {

  .product-details {

    padding-bottom: 30px;

    .media {
      padding-bottom: 30px;
      border-radius: 5px;
      background: @panelbg;
      border: 1px solid @panelborder;
    }

    .short_desc {
      font-size: 1.6rem;
    }

    .long_desc {
      font-size: 1rem;
    }

    .pricerow {
      font-size: 1.6rem;
    }

    label {
      font-size: 1.2rem;
      //font-weight: bold;
      vertical-align: middle;
      padding-right: 10px;
      margin: 0;
    }

    #quantity {
      width: 65px;
      margin-right: 10px;
    }
  }

  .product-comments {

    .add-comment {
      margin-bottom: 20px;
    }

    .post-comment {
      display: none;
      margin-bottom: 20px;

      .btn {
        margin-top: 10px;
        margin-right: 10px;
      }

      .result {
        display: none;
      }
    }
    .alert-danger li {
      font-size: 1rem;
      margin: 10px;
    }

    ul {
      padding: 0;

      li {
        margin-bottom: 10px;

        .author {
          font-style: italic;

          a {
            font-size: 0.8rem;
            font-style: normal;
            font-weight: bold;
            color: @primaryblue;
          }
        }

        .panel-body {
          font-size: 1rem;
        }
      }
    }
  }
}

//--------- CART
.itemrow {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid @panelborder;
  background: @panelbg;
  margin: 10px auto;

  .media-object {
    max-width: 60px;
    margin: 0 auto;
  }

  .item-description {
    vertical-align: middle;

    p {
      display:inline;
      margin-bottom: 0;
      font-size: 1.1rem;

      .btn-danger {
        color: #FFFFFF;
        max-width:20px;
        max-height:20px;
        padding:0;
        padding-left: 2px;
        padding-top:1px;

      }
      }

  }
}


